name: Node CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
jobs:
  build-lint-test:
    env:
      CI: true
      HUSKY: 0
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - uses: actions/checkout@v5
      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
      - name: Enable Corepack
        run: corepack enable
      - name: start tile38
        run: docker compose up -d
      - name: yarn cache
        id: yarn-cache
        run: echo "dir=./yarn/cache" >> $GITHUB_OUTPUT
      - uses: actions/cache@v5
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: install
        run: yarn install --immutable
      - name: lint
        run: yarn lint
      - name: test
        run: yarn test
      - name: build
        run: yarn build
      - name: stop tile38
        run: docker compose down
  release:
    needs: build-lint-test
    name: release
    runs-on: ubuntu-latest
    env:
      CI: true
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      HUSKY: 0
    steps:
      - name: checkout
        uses: actions/checkout@v5
      - name: setup node.js
        uses: actions/setup-node@v6
        with:
          node-version: latest
      - name: Enable Corepack
        run: corepack enable
      - name: yarn cache
        id: yarn-cache
        run: echo "dir=./yarn/cache" >> $GITHUB_OUTPUT
      - uses: actions/cache@v5
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: install dependencies
        run: yarn
      - name: release
        run: npx semantic-release
